button.blue{
    background-color: blue
}

button.light_blue{
    background-color: turquoise
}

button.bluish_white{
    background-color: lightblue
}

button.white{
    background-color:white
}

button.yellowish_white{
    background-color: lightgoldenrodyellow
}

button.light_orange{
    background-color: lightsalmon
}

button.orangish_red{
    background-color: orangered;
}

#info{
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 250px;
    width: 300px;
    border: 4px solid blue;
    background-color: black;
    color:white;
}

section.timeline{
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 400px;
    width: 600px;
    border: 4px solid black;
}

div.opts{
    position: absolute;
    bottom: 8px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 150px;
}
