button.blue{
    background-color: blue
}

button.light_blue{
    background-color: turquoise
}

button.bluish_white{
    background-color: lightblue
}

button.white{
    background-color:white
}

button.yellowish_white{
    background-color: lightgoldenrodyellow
}

button.light_orange{
    background-color: lightsalmon
}

button.orangish_red{
    background-color: orangered
}