h1 {
    text-align: center; 
    margin-top: 20px; 
}


nav {
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
  
nav a {
    text-decoration: none;
    color: yellow;
}


:root {
    --background-color: #000;          
    --text-color: #dad7d5;                
    --accent-color: #ffd700;     
    --card-background: rgba(255, 255, 255, 0.1); 
  }
  

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 2;
  }

button.blue{
    background-color: blue
}

button.light_blue{
    background-color: turquoise
}

button.bluish_white{
    background-color: lightblue
}

button.white{
    background-color:white
}

button.yellowish_white{
    background-color: lightgoldenrodyellow
}

button.light_orange{
    background-color: lightsalmon
}

button.orangish_red{
    background-color: orangered;
}

#info{
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 250px;
    width: 300px;
    border: 1px solid var(--accent-color);
    background-color: var(--card-background);
    color: var(--text-color);
}

section.timeline{
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 400px;
    width: 600px;
    border: 1px solid var(--accent-color);
    background-color: var(--card-background);
    color: var(--text-color);
}

div.opts{
    position: absolute;
    bottom: 8px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 150px;
}
